.box{display: flex;justify-content: space-between;}
.basket{border: 1px solid black;width:200px;text-align: center;}
button{cursor:pointer}
button img{width:50px;}
.cover{width: 500px;margin:auto;text-align: center;}
